<% form_for @volunteer_profile do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>

  <% for skill in @skills -%>
    <%  -%>
    <%= check_box_tag "volunteer_profile[skill_ids][]", skill.id, @volunteer_profile.skills.include?(skill) %> <%= skill.name %><br/>
  <% end -%>


  <p>Hours available?</p>
  <%= render :partial => "/hours/day_definition", :collection => (0..6), :locals => { :target => @volunteer_profile } %>

  <p><%= f.submit "Submit" %></p>
<% end %>
