<% form_for @event do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_at %><br />
    <%= f.text_field :start_at_text %>
  </p>
  <p>
    <%= f.label :end_at %><br />
    <%= f.text_field :end_at_text %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
