<% title "Events" %>

<div class="event_list">
  <% for event in @events -%>
    <div id="event_<%= event.id %>" class="event">
      <div class="name"><%= h event.name %></div>

      <div class="duration"><%= event.start_at %> thru <%= event.end_at %></div>

      <div class="description">
        <strong>Description:</strong> <%= h event.description %></div>

      <div class="menu">
        <%= link_to "Show", event %> |
        <%= link_to "Calendar", ??? %>
        <%= link_to "Edit", edit_event_path(event) %> |
        <%= link_to "Destroy", event, :confirm => 'Are you sure?', :method => :delete %>
     </div>
   </div>
  <% end -%>
</div>

<p><%= link_to "New Event", new_event_path %></p>
